@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the lecture code to demonstrate create a Web API.</p>
    <p>It uses the Pet class as its example model.</p>
</div>
